<html>
    <h1><img src="/assets/fleche-gauche.png" style="width: 40px;height: 40px;" (click)="navigateToMenu()">SMS</h1>
    <div class="generic">  
        <div class="setting"><div>Texte moi</div><mat-slide-toggle (change)="toggle()" [checked]="isChecked"></mat-slide-toggle></div>
    </div>
    <div class="generic">  
        <div class="setting"><div>SIM</div><input type="number" placeholder="00 00 00 00 00"></div>
    </div>
    <div class="generic">  
        <div class="setting"><div>Fréquence</div><input type="number" placeholder="15 min"></div>
    </div>
    <div class="generic"> 
        <div class="setting"><button class="btn btn-primary">Enregistrer</button></div>
    </div>
</html>
