<html>
    <h1><img src="/assets/fleche-gauche.png" style="width: 40px;height: 40px;" (click)="navigateToMenu()">Login</h1>
    <div class="login-container">
        <mat-card class="login-card">
          <mat-card-content>
            <form class="login-form">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Nom d'utilisateur" type="text">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Mot de passe" type="password">
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit">Se connecter</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
</html>
  