h1{
    color: rgb(151, 37, 37);
    font-weight: bold;
    margin: 10px;
    background-color: transparent;
}

.generic{
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
    font-size: 25px;
    border-radius: 10px;
}

input{
    border-radius: 10px;
    width: 200px;
    text-align: center;
    border: #3eec98 solid 1px;
}

.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width:100%;
    height: 45px;
}